@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Montserrat:400,700);
body {
  font-family: "Open Sans"; }

.menu {
  background: #e76d6b;
  background: -moz-linear-gradient(-45deg, #e76d6b 0%, #e76d6b 8%, #cea229 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #e76d6b), color-stop(8%, #e76d6b), color-stop(100%, #cea229));
  background: -webkit-linear-gradient(-45deg, #e76d6b 0%, #e76d6b 8%, #cea229 100%);
  background: -o-linear-gradient(-45deg, #e76d6b 0%, #e76d6b 8%, #cea229 100%);
  background: -ms-linear-gradient(-45deg, #e76d6b 0%, #e76d6b 8%, #cea229 100%);
  background: linear-gradient(135deg, #e76d6b 0%, #e76d6b 8%, #cea229 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e76d6b', endColorstr='#cea229', GradientType=1 ); }

header {
  /*fin del nav*/ }
  header nav {
    margin-top: 20px;
    font-weight: 700;
    /*fin del la fila row*/ }
    header nav .row h5 {
      color: white;
      font-size: 15px;
      border: 2px solid white;
      display: inline-block;
      padding: 10px;
      font-weight: 700; }
    header nav .row .menu-nav li a {
      text-decoration: none; }
    header nav .row .nav-tabs {
      border-bottom: none; }
    header nav .row ul {
      padding: 0;
      float: right;
      margin: 20px 0; }
      header nav .row ul li {
        display: inline-block; }
        header nav .row ul li a {
          font-size: 12px;
          color: white;
          text-transform: uppercase;
          margin: 0 10px; }
          header nav .row ul li a .ion-ios-cart-outline {
            margin-top: 20px;
            font-size: 20px; }
          header nav .row ul li a .ion-search {
            margin-top: 20px;
            font-size: 20px; }
  header h1 {
    font-family: Montserrat;
    color: white;
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 120px; }

#hello .row {
  margin: 100px 0; }
  #hello .row img {
    width: 100%; }
  #hello .row article h1 {
    font-size: 25px; }
  #hello .row article p {
    font-size: 13px;
    margin-top: 25px;
    color: grey; }
  #hello .row article a {
    color: white;
    background: #31aae2;
    padding: 10px 25px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px; }

#features {
  background: #f0f0f0; }
  #features .row article {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 320px; }
    #features .row article .miSpan {
      color: white;
      border-radius: 50%;
      background: #31aae2;
      font-size: 13px;
      padding: 16px; }
    #features .row article h6 {
      font-size: 12px;
      font-weight: 700;
      margin-top: 45px;
      margin-bottom: 30px; }
    #features .row article p {
      color: grey;
      font-size: 13px; }

#portfolio article {
  margin-top: 50px;
  margin-bottom: 30px; }
  #portfolio article .row h3 {
    color: black;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 700;
    text-align: center; }
  #portfolio article .row h5 {
    color: grey;
    font-size: 15px;
    text-align: center; }
  #portfolio article .fotosPortfolio article img {
    width: 100%; }
  #portfolio article .fotosPortfolio article h6 {
    font-size: 14px; }
  #portfolio article .fotosPortfolio article .iconoFlotante {
    position: relative; }
    #portfolio article .fotosPortfolio article .iconoFlotante p {
      font-size: 11px;
      color: grey;
      display: inline-block; }
    #portfolio article .fotosPortfolio article .iconoFlotante span {
      position: absolute;
      font-size: 11px;
      color: grey;
      text-align: right;
      top: -10px;
      right: 0px; }

#ochofeatures {
  background: #eb768c; }
  #ochofeatures article {
    margin-top: 50px;
    margin-bottom: 30px;
    margin-bottom: 0; }
    #ochofeatures article .row h3 {
      color: white;
      text-transform: uppercase;
      font-size: 27px;
      font-weight: 700;
      text-align: center; }
    #ochofeatures article .row h5 {
      color: white;
      font-size: 15px;
      text-align: center; }
    #ochofeatures article .row h5 {
      margin-bottom: 50px; }
    #ochofeatures article ul.listaFeatures {
      padding: 0; }
      #ochofeatures article ul.listaFeatures li.col-izq-features {
        padding: 0;
        margin-top: 20px;
        list-style: none;
        padding-right: 30px; }
        #ochofeatures article ul.listaFeatures li.col-izq-features article {
          text-align: right; }
          #ochofeatures article ul.listaFeatures li.col-izq-features article h6 {
            font-size: 15px;
            display: inline-block;
            color: white;
            text-transform: capitalize; }
          #ochofeatures article ul.listaFeatures li.col-izq-features article span {
            display: inline-block; }
          #ochofeatures article ul.listaFeatures li.col-izq-features article .iconoFeatures {
            color: white;
            border-radius: 50%;
            background: #31aae2;
            font-size: 13px;
            padding: 16px;
            margin-left: 15px;
            margin-right: 0;
            margin-bottom: 15px; }
          #ochofeatures article ul.listaFeatures li.col-izq-features article p {
            color: #f0f0f0;
            font-size: 13px; }
    #ochofeatures article img {
      width: 100%; }
    #ochofeatures article .listaFeatures li.col-der-features {
      padding: 0;
      margin-top: 20px;
      list-style: none;
      padding-left: 30px; }
      #ochofeatures article .listaFeatures li.col-der-features article {
        text-align: left; }
        #ochofeatures article .listaFeatures li.col-der-features article h6 {
          font-size: 15px;
          display: inline-block;
          color: white;
          text-transform: capitalize; }
        #ochofeatures article .listaFeatures li.col-der-features article span {
          display: inline-block; }
        #ochofeatures article .listaFeatures li.col-der-features article .iconoFeatures {
          color: white;
          border-radius: 50%;
          background: #31aae2;
          font-size: 13px;
          padding: 16px;
          margin-left: 0;
          margin-right: 15px;
          margin-bottom: 15px; }
        #ochofeatures article .listaFeatures li.col-der-features article p {
          color: #f0f0f0;
          font-size: 13px; }

#coreFeatures {
  background: #f0f0f0; }
  #coreFeatures .row {
    margin-top: 100px;
    margin-bottom: 100px; }
    #coreFeatures .row .imgprincipal {
      vertical-align: baseline;
      width: 99%;
      height: 500px; }
    #coreFeatures .row ul {
      padding: 0; }
      #coreFeatures .row ul li {
        display: inline-block;
        list-style: none;
        width: 13%;
        margin-right: 4px; }
        #coreFeatures .row ul li img {
          width: 100%;
          vertical-align: baseline; }
    #coreFeatures .row article h3 {
      color: black;
      text-transform: uppercase;
      font-size: 27px;
      font-weight: 700;
      margin-top: -15px; }
    #coreFeatures .row article h5 {
      color: grey;
      font-size: 15px;
      margin-bottom: 50px; }
    #coreFeatures .row article p {
      margin-top: 20px;
      color: grey; }
    #coreFeatures .row article ul li {
      display: block;
      list-style: none;
      width: 100%; }
      #coreFeatures .row article ul li span.ion-android-star {
        color: #31aae2; }
      #coreFeatures .row article ul li p {
        display: inline-block;
        margin-left: 10px; }
    #coreFeatures .row article a {
      color: white;
      background: #31aae2;
      padding: 10px 25px;
      text-transform: uppercase;
      display: inline-block;
      margin-top: 20px; }

#meetcreative article {
  margin-top: 50px;
  margin-bottom: 30px; }
  #meetcreative article .row h3 {
    color: black;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 700;
    text-align: center; }
  #meetcreative article .row h5 {
    color: grey;
    font-size: 15px;
    text-align: center; }
#meetcreative .creative {
  margin-top: 50px; }
  #meetcreative .creative img {
    width: 100%;
    border-radius: 50%; }
  #meetcreative .creative .linkpersonales {
    margin-top: 10px; }
    #meetcreative .creative .linkpersonales a {
      display: inline-block;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      text-align: center;
      padding: 3px;
      background: #31aae2;
      margin: 0 3px; }
      #meetcreative .creative .linkpersonales a span {
        color: white;
        font-size: 19px; }
  #meetcreative .creative article {
    margin-top: 0;
    margin-bottom: 0; }
    #meetcreative .creative article h4 {
      font-size: 16px;
      margin-bottom: 0px; }
    #meetcreative .creative article h6 {
      margin-top: 0px;
      margin-bottom: 30px;
      font-size: 11px;
      color: #31aae2;
      text-transform: uppercase; }
    #meetcreative .creative article p {
      font-size: 13px; }

#wordpress {
  background: #FDD27A;
  height: 700px; }
  #wordpress article {
    margin-top: 50px;
    margin-bottom: 30px; }
    #wordpress article .row h3 {
      color: black;
      text-transform: uppercase;
      font-size: 27px;
      font-weight: 700;
      text-align: center; }
    #wordpress article .row h5 {
      color: grey;
      font-size: 15px;
      text-align: center; }
    #wordpress article .row h3, #wordpress article .row h5 {
      text-align: left; }
    #wordpress article .row span {
      display: inline-block;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      text-align: center;
      padding: 7px;
      background: #31aae2;
      margin: 0 3px;
      color: white;
      font-size: 25px;
      margin-top: 55px; }
    #wordpress article .row h6 {
      margin-top: 50px;
      font-size: 15px; }
    #wordpress article .row p {
      font-size: 13px;
      color: grey;
      width: 75%; }
  #wordpress .imgchica {
    position: relative; }
    #wordpress .imgchica img {
      position: absolute;
      right: -100;
      width: 100%;
      height: 700px; }

#blog {
  background: #f0f0f0; }
  #blog article {
    margin-top: 50px;
    margin-bottom: 30px; }
    #blog article .row h3 {
      color: black;
      text-transform: uppercase;
      font-size: 27px;
      font-weight: 700;
      text-align: center; }
    #blog article .row h5 {
      color: grey;
      font-size: 15px;
      text-align: center; }
  #blog .post img {
    width: 100%;
    position: relative; }
  #blog .post img::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 50px solid #f0ad4e;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    transform: rotate(180deg); }
  #blog .post ul {
    position: absolute;
    bottom: 20px; }
    #blog .post ul li {
      display: inline-block;
      list-style: none; }
      #blog .post ul li a {
        text-decoration: none;
        background: blue;
        border-radius: 50px;
        padding: 6px 15px;
        color: white; }
  #blog .post .col-lg-6 {
    padding-right: 0; }
  #blog .post .postparrafo {
    background: white; }
    #blog .post .postparrafo h4 {
      font-size: 18px;
      text-transform: capitalize;
      margin-bottom: 5px; }
    #blog .post .postparrafo h6 {
      font-size: 10px;
      text-transform: uppercase;
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 0px; }
    #blog .post .postparrafo p {
      font-size: 13px;
      margin: 40px 0; }

/*# sourceMappingURL=style.css.map */
