@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Montserrat:400,700);

$colorAzul:#31aae2;
$colorGrisClaro:#f0f0f0;
$colorGris:grey;
$colorRosa:#eb768c;
$colorAmarillo:#FDD27A;

body{
	font-family: "Open Sans";
}

.menu{
	background: rgba(231,109,107,1);
	background: -moz-linear-gradient(-45deg, rgba(231,109,107,1) 0%, rgba(231,109,107,1) 8%, rgba(206,162,41,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(231,109,107,1)), color-stop(8%, rgba(231,109,107,1)), color-stop(100%, rgba(206,162,41,1)));
	background: -webkit-linear-gradient(-45deg, rgba(231,109,107,1) 0%, rgba(231,109,107,1) 8%, rgba(206,162,41,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(231,109,107,1) 0%, rgba(231,109,107,1) 8%, rgba(206,162,41,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(231,109,107,1) 0%, rgba(231,109,107,1) 8%, rgba(206,162,41,1) 100%);
	background: linear-gradient(135deg, rgba(231,109,107,1) 0%, rgba(231,109,107,1) 8%, rgba(206,162,41,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e76d6b', endColorstr='#cea229', GradientType=1 );
}

header{
	nav{
		margin-top: 20px;
		font-weight: 700;
		
		.row{
			h5{
				color: white;
				font-size: 15px;
				border:2px solid white;
				display: inline-block;
				padding: 10px;
				font-weight: 700;
			}
			
			.menu-nav{
				li{
					a{
						text-decoration: none;
					}
				}
			}

			.nav-tabs {
    			border-bottom:none;
			}

			ul{
				padding: 0;
				float:right;
				margin: 20px 0;
				li{
					display: inline-block;
					a{
						font-size: 12px;
						color:white;
						text-transform: uppercase;
						margin:0 10px;

						.ion-ios-cart-outline{
							margin-top: 20px;
							font-size: 20px;
						}

						.ion-search{
							margin-top: 20px;
							font-size: 20px;
						}

						span{
							
						}
					}
				}
			}
		} /*fin del la fila row*/
	} /*fin del nav*/

	h1{
		font-family: Montserrat;
		color:white;
		font-size: 80px;
		font-weight: 700;
		text-transform: uppercase;
		margin-top: 60px;
		margin-bottom: 120px;
	}
}

@mixin botonAzul{
	color:white;
	background:$colorAzul;
	padding: 10px 25px;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 20px;
}

#hello{
	.row{
		margin:100px 0;

		img{
			width: 100%;
		}

		article{
			h1{
				font-size: 20px;
			}

			p{
				font-size: 10px;
				margin-top: 25px;
				color:$colorGris;
			}

			a{
				@include botonAzul;
			}
		}
	}
}

#features{
	background: $colorGrisClaro;

	.row{
		article{
			margin-top: 100px;
		    text-align: center;
		    margin-bottom: 320px;

			.miSpan{
				color:white;
				border-radius: 50%;
				background: $colorAzul;
				font-size: 13px;
			    padding: 16px;
			}

			h6{
				font-size: 12px;
			    font-weight: 700;
			    margin-top: 45px;
			    margin-bottom: 30px;
			}

			p{
				color:$colorGris;
				font-size: 13px;
			}
		}
	}
}

@mixin tituloYsubtitulo($colorTitulo, $colorSubtitulo){
	margin-top: 50px;
	margin-bottom: 30px;

	.row{
		h3{
			color:$colorTitulo;
			text-transform: uppercase;
		    font-size: 27px;
		    font-weight: 700;
		    text-align: center;
		}

		h5{
			color:$colorSubtitulo;
		    font-size: 15px;
		    text-align: center;
		}
	}
}

#portfolio{
	article{
		@include tituloYsubtitulo(black, $colorGris);
	
		.fotosPortfolio{
			article{
				img{
					width: 100%;
				}
				h6{
					font-size: 14px;
				}

				.iconoFlotante
				{
					position: relative;
					p{
						font-size: 11px;
						color:$colorGris;
						display: inline-block;
					}
					span{
						position: absolute;
						font-size: 11px;
						color:$colorGris;
						text-align: right;
						top: -10px;
						right: 0px;
					}
				}
			}
		}
	}
}

@mixin ochof($posicion,$spanML,$spanMR){
	padding: 0;
	margin-top: 20px;
	list-style: none;

	article{
		text-align: $posicion;
		h6{
			font-size: 15px;
			display: inline-block;
			color:white;
			text-transform: capitalize;
		}

		span{
			display: inline-block;
		}
		
		.iconoFeatures{
			color:white;
			border-radius: 50%;
			background: $colorAzul;
			font-size: 13px;
		    padding: 16px;
			margin-left: $spanML;
			margin-right: $spanMR;
			margin-bottom: 15px;
		}

		p{
			color:$colorGrisClaro;
		    font-size: 13px;
		}
	}
}

#ochofeatures{
	background: $colorRosa;
	article{
		@include tituloYsubtitulo(white, white);
		margin-bottom: 0;
		.row{
			h5{
				margin-bottom: 50px;
			}
		}

		ul.listaFeatures{
			padding: 0;
			li.col-izq-features{
				@include ochof(right,15px,0);
				padding-right: 30px;
			}
		}

		img{
			width: 100%;
		}

		.listaFeatures{
			li.col-der-features{
				@include ochof(left,0,15px);
				padding-left: 30px;
			}
		}
	}
}

#coreFeatures{
	background: $colorGrisClaro;
	
	.row{
		margin-top: 100px;
		margin-bottom: 100px;
		.imgprincipal{
			vertical-align: baseline;
			width: 100%;
			height: 500px;
		}

		ul{
			padding: 0;
			li{
				display: inline-block;
				list-style: none;
				width: 13%;

				img{
					width:100%;
					vertical-align: baseline;
				}
			}
		}
		
		article{
			h3{
				color:black;
				text-transform: uppercase;
			    font-size: 27px;
			    font-weight: 700;
			    margin-top: -15px;
			}

			h5{
				color:$colorGris;
			    font-size: 15px;
			    margin-bottom: 50px;
			}
			
			p{
				margin-top: 20px;
				color:$colorGris;
			}

			ul{
				li{
					display: block;
					list-style: none;
					width: 100%;

					span.ion-android-star{
						color: $colorAzul;
					}

					p{
						display: inline-block;
						margin-left: 10px;
					}
				}
			}

			a{
				@include botonAzul;
			}

		}
	}
}

#meetcreative{
	article{
		@include tituloYsubtitulo(black, $colorGris);
	}

	.creative{
		margin-top: 50px;

		img{
			width: 100%;
			border-radius: 50%;
		}
		
		.linkpersonales{
			margin-top: 10px;
			a{
				display: inline-block;
				border-radius: 50%;
			    height: 30px;
			    width: 30px;
			    text-align: center;
			    padding: 3px;
			    background: $colorAzul;
			    margin: 0 3px;

			    span{
			    	color:white;
			    	font-size: 19px;
			    }
			}
		}
		
		article{
			margin-top: 0;
			margin-bottom: 0;
			h4{
				font-size: 16px;
				margin-bottom: 0px;
			}
			h6{
				margin-top: 0px;
				margin-bottom: 30px;
				font-size: 11px;
				color: $colorAzul;
				text-transform: uppercase;
			}
			p{
				font-size: 13px;
			}
		}
	}
}

#wordpress{
	background: $colorAmarillo;
	height: 700px;
	article{
		@include tituloYsubtitulo(black, $colorGris);

		.row{
			h3,h5{
				text-align: left;
			}

			span{
				display: inline-block;
			    border-radius: 50%;
			    height: 50px;
			    width: 50px;
			    text-align: center;
			    padding: 7px;
			    background: #31aae2;
			    margin: 0 3px;
			    color: white;
			    font-size: 25px;
			    margin-top: 55px;
			}

			h6{
				margin-top: 50px;
				font-size: 15px;
			}
			p{
				font-size: 13px;
				color: grey;
				width: 75%;
			}
		}
	}
	
	.imgchica{
		position: relative;
		img{
			position: absolute;
			right: -100;
			width: 100%;
			height: 700px;
		}
	}
}

#blog{
	background: $colorGrisClaro;
	article{
		@include tituloYsubtitulo(black, $colorGris);
	}

	.post{
		img{
			width: 100%;
			position: relative;
		}
		img::after{
			content: "";
			width:0;
			height: 0;
		    border-left: 50px solid #f0ad4e;
		    border-top: 25px solid transparent;
		    border-bottom: 25px solid transparent;
		    transform: rotate(180deg);
		}

		ul{
			position: absolute;
			bottom: 20px;
			li{
				display: inline-block;
				list-style: none;

				a{
					text-decoration: none;
				    background: blue;
				    border-radius: 50px;
				    padding: 6px 15px;
				    color: white;
				}
			}
		}

		.col-lg-6{
			padding-right: 0;
		}
		.postparrafo{
			background: white;
			h4{
				font-size: 18px;
				text-transform: capitalize;
				margin-bottom: 5px;
			}
			h6{
				font-size: 10px;
				text-transform: uppercase;
				display: inline-block;
				margin-right: 20px;
				margin-bottom: 0px;
			}
			p{
				font-size: 13px;
				margin: 40px 0;
			}
		}
	}
}